/*body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-gap: 1px;
    max-width: 400px;
    margin: 0 auto;
}

.grid-square {
    padding-bottom: 100%;
    background-color: white;
    transition: background-color 0.2s;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}*/